hr {
    margin-left: 5px;
    margin-right: 5px;
    border: none;
    background-color: gray;
    color: gray;
    height: 2px;
}


#1111 {
    font-size: 100%;
    font-family: inherit;
    border: 0;
    padding: 0;
    background:white;
    cursor:pointer;
}

.wrapper {
    width: 95%;
    max-width: 800px;
    margin: 0 auto;
}

.table {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    word-break: break-all;
}

td {
    padding: 3px;
    text-align: left;
}

ol {
    padding: 0;
    margin-left: 10px;
}

th {
    border-bottom: thin solid black;
    text-align: center;
}

tr {
    border-bottom: thin solid black;
}